body {
    font-family: Dancing Script;
    color: rgb(238, 135, 152);
    background-color: #FCE4EC;
}
button {
    background-color: #610832;
    color:rgb(238, 135, 152);
    font-family: Dancing Script;
    font-size: large;
}